
.header {
    padding: 24px 0;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 10;
    display: flex;
    align-items: center;
    transition: .3s;
}

.btn-register {
    min-width: 156px;
    width: 100%;
}

.header.moved {
    padding: 5px 0;
}


.header-body {
    padding: 11.2px 12px;
    max-width: 1200px;
    width: 100%;
    background: rgba(30, 30, 32, 0.75);
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.16);
    backdrop-filter: blur(30px);
    border-radius: 100px;
    align-items: center;

}

.header-body::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 100px;
    padding: 1px;
    background: linear-gradient(105.61deg, rgba(255, 255, 255, 0.04) 0%, rgba(255, 255, 255, 0) 100%);
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    mask-composite: exclude;
    z-index: -1;

}


.header-body.active {
    backdrop-filter: unset;

}

.header-logo {
    max-width: 156px;
    width: 100%;
    display: flex;
}

.menu-list {
    gap: 40px;
}

.menu-bg {
    display: none;
}

.menu-list-link {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: var(--white);
}

.logo-mobile {
    display: none;
}

.menu-list-link:hover {
    color: rgba(163, 48, 203, 1);
}

.header-actions {
    gap: 12px;
}

.burger {
    display: none;
}

.menu-content-mobile {
    display: none;
}

.header-mobile-actions {
    display: none;
}


@media (max-width: 1400px) {
}

@media (max-width: 1200px) {

}

@media (max-width: 992px) {

    .menu-bg {
        background: #444444;
        backdrop-filter: blur(6px);
        position: fixed;
        display: block;
        top: -150%;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        transition: .3s;

    }

    .menu-bg.active {
        top: 0;

    }

    .menu {
        position: fixed;
        right: 0;
        top: -150%;
        width: 100%;
        height: 100%;
        transition: .3s;
        z-index: 3;
        display: flex;
        flex-direction: column;
        overflow: auto;
        gap: 10px;
        border-radius: 16px;
        background-image: url("../images/menuBg.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        max-width: 95%;
        max-height: max-content;
        margin: 0 auto;
        left: 50%;
        transform: translate(-50%);

    }

    .menu-mobile-cnt {
        width: 100%;
        height: max-content;
        padding: 24px 20px 30px 20px;
        position: relative;

    }

    .menu-mobile-cnt::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        background: linear-gradient(180deg, rgba(23, 23, 23, 0.8) 50%, /* Тёмный цвет в центре */ rgba(23, 23, 23, 0.7) 10%, /* Плавное ослабление к краям */ rgba(23, 23, 23, 0.7) 10% /* Полностью прозрачный край */);
        backdrop-filter: blur(30px);
        -webkit-backdrop-filter: blur(30px);
        box-shadow: 0 0 190px 60px rgba(23, 23, 23, 1);

    }

    .menu.active {
        top: 116px;
    }


    .menu-list {
        flex-direction: column;
        gap: 28px;
        align-items: center;
        justify-content: center;
        margin-top: 32px;

    }


    .burger {
        background: #1B1B1B;
        width: 23px;
        height: 18px;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 3px;
        border-radius: 100px;
        cursor: pointer;
        transition: .3s;
        z-index: 4;
    }

    .burger span {
        width: 100%;
        display: block;
        height: 2.3px;
        background: #FFFFFF;
        transition: .3s;
        border-radius: 5px;

    }

    .burger::after {
        width: 100%;
        content: '';
        display: block;
        height: 2.3px;
        background: #FFFFFF;
        transition: .3s;
        border-radius: 5px;

    }

    .burger::before {
        width: 100%;
        content: '';
        display: block;
        height: 2.5px;
        background: #FFFFFF;
        transition: .3s;
        border-radius: 5px;

    }


    .burger.active span {
        opacity: 0;
        visibility: hidden;
    }

    .burger.active::before {
        transform: rotate(-45deg);
        top: 5px;
        position: relative;
        height: 1.5px;


    }

    .header-mobile-actions {
        display: flex;
        flex-direction: column;
        gap: 8px;
        margin: 60px auto 0;
        max-width: 292px;
        width: 100%;
    }


    .burger.active::after {
        transform: rotate(45deg);
        bottom: 11px;
        height: 1.5px;
        position: relative;
    }

    .menu-content-mobile {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 12px;
    }

    .menu-mobile-title {
        width: 100%;
        position: relative;
        max-width: 85px;
        padding: 5px 10px;
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
        background: linear-gradient(86.94deg, #6356FE 0.62%, #764AEF 30.62%, #8A3EDF 61.67%, #A330CB 99.38%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        text-fill-color: transparent;
        text-align: center;


    }

    .menu-mobile-title::before {
        content: "";
        position: absolute;
        inset: 0;
        border-radius: 50px;
        padding: 2px;
        background: linear-gradient(86.94deg, rgba(99, 86, 254, 0.28) 0.62%, rgba(118, 74, 239, 0.28) 30.62%, rgba(138, 62, 223, 0.28) 61.67%, rgba(163, 48, 203, 0.28) 99.38%);
        -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
        mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
        mask-composite: exclude;
        box-shadow: 0px 0px 16px 0px rgba(99, 86, 254, 0.08);
        transition: .3s;
    }

    .menu-mobile-clue {
        font-size: 14px;
        font-weight: 300;
        line-height: 16px;
        text-align: center;
        color: var(--white);

    }

    .menu-clue {
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        color: #000000;
        margin-top: 8px;

    }

    .header-actions {
        display: none;
    }


}

@media (max-width: 768px) {

}

@media (max-width: 576px) {
    .header {
        padding: 17px 0;
    }

    .logo-desktop {
        display: none;
    }

    .logo-mobile {
        display: block;
    }

    .menu {
        max-width: 332px;
    }

    .menu-mobile-cnt {

    }

    .menu.active {
        top: 88px;
    }


    .header-body {
        padding: 10px 16px 10px 12px;
    }

    .header-logo {
        max-width: 124px;
    }

    .header .container {
        padding: 0 14px;
    }

}